# Python 缓存
__pycache__/
*.pyc

# 开发工具配置
.idea/

# 编译生成文件
*.exe

# 日志
*.log

# 数据库
*.db

# Word 临时文件
~$*.doc

# 忽略整个 .idea、build、dist 目录及其所有内容
.idea/
build/
dist/

# 忽略共享目录中的实际内容，只保留目录结构
privite_shared/
shared_folders/
common_shared/

# 如需保留空文件夹结构，请添加空的 .gitkeep 文件，并取消忽略
!privite_shared/.gitkeep
!shared_folders/.gitkeep
!common_shared/.gitkeep


